.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: royalblue;
    color: white;
    transition: 0.5s all ease;
    position: sticky;
    top: 0;
    z-index: 999;

    &.active{
        background-color: white;
        color: black;
        .container{
            .links{
                button{
                    border-color: blue;
                    color: blue;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }

    .container{
        width: 1200px;
        display: flex;
        justify-content: space-between;
        padding: 2px 0px;
        .logo{
            font-size: 34px;
            font-weight: bold;
            .text{

            }
            .dot{
                color: blue;
            }
        }
        .links{
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: 500;
            cursor: pointer;
            position: relative;

            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .options{
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 20px;
                    background-color: white;
                    border-radius: 10px;
                    border: 1px solid lightgray;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: gray;
                    width: 200px;
                    font-weight: 300;
                }
            }

            button{
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid white;
                cursor: pointer;
                background-color: transparent;

                &:hover{
                    background-color: blue;
                    border-color: blue;
                }
            }
        }
    }
    hr{
        width: 100%;
        height: 0;
        border: 0.5px solid rgb(223, 221, 221);
    }
    .menu{
        width: 1200px;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        color: gray;
    }
}