.message{
    display: flex;
    justify-content: center;

    .container{
        width: 1100px;
        margin: 50px;
        .breadCrumbs{
            font-weight: 300;
            font-size: 13px;
            color: #555;
        }
        .messages{
            margin: 30px 0px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: 500px;
            overflow: scroll;
            .item{
                display: flex;
                gap: 20px;
                max-width: 600px;
                font-size: 18px;

                &.owner{
                    flex-direction: row-reverse;
                    align-self: flex-end;
                    p{
                        border-radius: 20px 0 20px 20px;
                        background-color: royalblue;
                        color: white;
                    }
                }

                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                p{
                    padding: 20px;
                    background-color: rgb(231, 229, 229);
                    border-radius: 0px 20px 20px 20px;
                    color: gray;
                    font-weight: 300;
                }
            }
        }

        hr{
            height: 0;
            border: 0.5px solid lightgray;
            margin-bottom: 20px;
        }

        .write{
            display: flex;
            align-items: center;
            justify-content: space-around;

            textarea{
                width: 80%;
                height: 100px;
                padding: 10px;
                border: 1px solid lightgray;
                border-radius: 10px;
            }

            button{
                color: white;
                border-radius: 10px;
                background-color: rgb(5, 105, 5);
                font-weight: 500;
                border: none;
                padding: 20px;
                width: 100px;
                font-size: 24px;
                cursor: pointer;
            }
        }
    }
}